<%- include("partials/header") %>
<h1><%= post.title %></h1>
<p><%= post.content %></p>

<a href="/">Back To Home</a>
<a href="/posts/<%= post.id %>/edit">Edit</a>
<form action="/posts/<%= post.id %>/delete" method="POST">
    <button type="submit">Delete</button>
</form>
<%- include("partials/footer") %>
